/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: url('../images/cover-image-dark.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-block-size: 668px;
  margin: 10px;
  font-family: 'IBM Plex mono', Arial, Helvetica, serif;
}

.main__title {
  color: var(--h1-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-align: left;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  color: var(--text-color);
  font-weight: var(--font-weight);
  font-size: 18px;
  line-height: 23.4px;
  text-align: left;
  background-color: var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: 0;
  inset-block-end: 0;
}

.rec {
  position: absolute;
  color: var(--accent-color);
  font-size: 18px;
  inset-inline-end: 28px;
  inset-block-start: 0px;
}

.rec::after {
  content: "";
  position: absolute;
  block-size: 9px;
  inset-block-start: 8px;
  inset-inline-end: -19px;
  inline-size: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #FF0070;
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: flex-end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 2px 13px 4px;
  color: var(--accent-color);
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-alpha);
}

.header__theme-menu-button:focus {
  border: initial;
  border-block-end: 1px solid var(--accent-color);
}

.main {
  display: flex;
  gap: 50px;
  flex-direction: column;
  padding: 60px 10px;
  background-color: var(--text-color);
  font-family: 'IBM Plex mono', Arial, Helvetica, serif;
}

.section {
  display: grid;
  grid-template-columns: 1;
  gap: 20px;
}

.section-content {
  display: grid;
  gap: 10px;
}

.text-deccorstion {
  line-height: 23.4px;
  color: var(--paragraph-text-color)
}

.section-title {
  font-size: 18px;
  color: var(--accent-color)
}

.links__decorstion {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.links__decorstion:hover {
  border-block-end: 1px solid var(--paragraph-text-color);
}

.links__decorstion:focus {
  border: 1px solid var(--paragraph-text-color);
}

.section-three-title {
  font-weight: 400;
}

.image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  font-family: 'IBM Plex mono', Arial, Helvetica, serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color);
  min-block-size: 668px;
}

.footer::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

footer::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}
