/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --accent-color-alpha: rgba(255, 0, 112 , 0.4);
  --h1-color: #DB00FF;
  --text-color: #000028;
  --paragraph-text-color: #F1B2CE;
}